footer {
  /* display: flex; */
  text-align: end;
  background: #e3b353;
  color: white;
  padding-right: 1rem;
  text-shadow: black 1px 1px 1px;
  margin-top: 0.5rem;
}

footer a {
  text-decoration: none;
  color: white;
  font-weight: bolder;
}
