.mainShop {
  max-width: 1500px;
  margin: auto;
  display: flex;
}

.shopDisplay {
  min-height: 100%;
  padding: 2rem;
  max-width: 750px;
  display: flex;
  flex-direction: column;
  justify-self: flex-start;
  align-self: flex-start;
}

.cardsListTitle {
  padding: 0.4rem;
  margin-bottom: 1rem;
}

.shopDisplay > h1,
p {
  align-self: flex-start import;
  justify-self: flex-start impo;
  text-align: left;
}

.shopDisplay p {
  font-size: 0.8rem;
}

.cardsList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
