* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.shop {
  display: flex;
  flex-wrap: wrap;
  min-height: 100vh;
  min-width: 360px;
  max-width: 1350px;
  margin: 0 auto;
}

@media (min-width: 1090px) {
  .shop {
    flex: 1 1 auto;
  }
}
